.button
	padding: 17px 30px
	transition: 0.3s
	font-size: 13px
	+bold
	border: none
	border-radius: 10px
	background-color: $button-bg-color
	&:hover
		transition: 0.3s
		background-color: lighten($button-bg-color, 15%)
		cursor: pointer

.input
	padding: 23px
	border-radius: 10px
	border: 1px solid $input-border
	font-size: 15px 