@media only screen and (max-width : 1600px)
	.main
		&-image
			img
				transform: scale(1.2)

@media only screen and (max-width : 1450px)
	.main
		&-image
			img
				transform: none

@media only screen and (max-width : 1200px)
	.container
		width: 970px
	.main
		&-text
			&__title
				font-size: 35px
				line-height: 45px
			&__subtitle
				padding-right: 30px
				line-height: 30px
	.feedback
		&::before
			width: 70%
	.modal
		&__dialog
			width: 970px
		&-info
			padding: 60px 20px 60px 40px
		&-form
			padding: 60px 60px

@media only screen and (max-width : 992px)
	.container
		width: 767px
	.main
		&-wrap
			justify-content: space-between
		&-text
			flex-basis: 45%
			&__title
				margin-bottom: 40px
				font-size: 28px
				line-height: 36px
			&__subtitle
				font-size: 18px
				line-height: 25px
	.feedback
		background: #fff
		&::before
			display: none
	.portfolio
		padding: 70px 0 150px 0
		&__title
			margin-bottom: 60px
			font-size: 25px
			line-height: 38px
	.price
		&-card
			min-height: auto
			&__img
				height: auto
				object-fit: contain
				&-wrap
					&::after
						display: none
		&__title
			font-size: 25px
			line-height: 38px
		&-card
			&__link
				&:hover
					&::after
						z-index: 0
						height: 3px
	.information
		background-size: cover
		&::before
			width: 50%
		&-faq
			flex-basis: 46%
		&-form
			flex-basis: 45%
	.modal
		&__dialog
			width: 767px
		&-info
			padding: 30px
		&-form
			padding: 30px
		&__close
			font-size: 20px

@media only screen and (max-width : 768px)
	.hidden-xs
		display: none
	.container
		width: 100%
	.main
		&-wrap
			flex-direction: column
			align-items: center
		&-text
			max-width: 400px
		&-image
			max-width: 80%
			margin-top: 40px
	.form
		margin: 0 auto
	.portfolio
		background-position: center center
		&::before
			display: none
	.portfolio
		padding: 60px 0 130px 0
		&__title
			margin-bottom: 40px
	.price
		padding: 60px 0
		&__title
			margin-bottom: 40px
		&__subtitle
			margin-bottom: 40px
	.information
		&-wrap
			flex-direction: column
	.modal
		padding: 40px
		overflow-y: scroll
		&__dialog
			flex-direction: column
			width: 90%
		&-info
			order: 1
			padding: 50px 30px 30px 30px
		&-form
			padding: 50px 30px 50px 30px
			&__title
				margin-bottom: 30px
			&__subtitle
				margin-bottom: 30px
@media only screen and (max-width : 560px)
	.header
		&-logo
			flex-basis: 35%
		&-text
			&__contacts
				margin-right: 15px
			&__phone
				font-size: 17px
		&-button-xs
			padding: 0
			width: 40px
			height: 40px
			background: url(../img/header/header-mobile.png) no-repeat center
			background-size: contain
	.hidden
		display: none
	.main
		padding: 60px 0
		&-image
			max-width: 90%
	.feedback
		padding: 60px 0
	.form
		&__subtitle
			line-height: 25px
		&-info
			text-align: center
			flex-direction: column
			justify-content: center
			&__manager
				margin-bottom: 10px
			&__callback
				&::before
		&__input
			width: 100%
			&:nth-child(1)
				margin-right: 0
			&-wrap
				flex-direction: column
				align-items: flex-start
		&__button
			padding: 20px
	.modal
		padding: 40px 20px
		&__dialog
			width: 100%
		&-info
			padding: 50px 20px 30px 20px
		&-block
			flex-direction: column
			justify-content: center
			margin-bottom: 30px
			text-align: center
			&:nth-child(3)
				margin-bottom: 30px
			&__img
				margin: 0 auto
				margin-bottom: 10px
			&__title
				&::after
					width: 100%
		&-form
			padding: 50px 20px 50px 20px
		&-workin
			&__elem
				margin-bottom: 10px
				line-height: 25px
	.price
		&__title
			span
				display: inline

@media only screen and (max-width : 380px)
	.header
		&-logo
			flex-basis: 32%
		&-text
			&__contacts
				margin-right: 15px
			&__phone
				font-size: 14px
	.modal
		&-info
			padding: 50px 20px 20px 20px
		&-form
			&__title
				font-size: 18px
				line-height: 25px
		&-workin
			&__title
				text-align: center
